pricer/chamilo/pricer-skel/doc/
pricer/chamilo/pricer-skel/doc/doc_doxygen/
pricer/chamilo/pricer-skel/doc/doc_doxygen/html
pricer/chamilo/pricer-skel/doc/doc_doxygen/latex
pricer/chamilo/pricer-skel/build/
